/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2015, 9:24:09 AM
    Author     : Reto
*/

.hg_manager_kaltable_small {
    display: none;
}

.hg_manager_kaltable_width {
    display: table-cell;
}

.kalender_datum {
    width: 130px;
    max-width: 130px;
}

.kalender_zeit {
    min-width: 80px;
}

.hg-manager-kalender-table-public-head {
    background-color: #cccccc
}

.hg-manager-kalender-table-public tr:nth-child(even) {
    background-color: #cccccc;
}

@media only screen and (max-width: 640px) {
    .hg_manager_kaltable_small {
        display: table-cell;
    }

    .hg_manager_kaltable_width {
        display: none;
    }

}